* {
    font-family: sans-serif;
    text-align: center;
}
.header {
    font-size: 40px;
    color: rgb(88, 143, 131);
    padding: 1px 70px;
    background-color: rgb(236, 216, 192);
    border: 2px solid rgb(135, 209, 191);
    margin: 30px;
}
.list-container {
    padding: 15px;
    background: rgb(84, 196, 171);
    margin: -10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
}
.list-container div {
    font-size: 30px;
    background: rgb(255, 230, 230);
    border: 1px solid rgb(231, 184, 184);
    height: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
